{% comment %}
  repo.liquid
  Input:
    include.repository:
      - String: "username/repository"
      - OR Object:
          name: "username/repository"
          description: "Short description"
  Output:
    Clickable repository name with optional description
{% endcomment %}

{% if include.repository.name %}
  {% assign repo_full = include.repository.name %}
  {% assign repo_description = include.repository.description %}
{% else %}
  {% assign repo_full = include.repository %}
  {% assign repo_description = nil %}
{% endif %}

{% assign repo_url = repo_full | split: '/' %}
{% assign repo_owner = repo_url[0] %}
{% assign repo_name  = repo_url[1] %}

<div class="repo p-2 text-center">
  <a
    href="https://github.com/{{ repo_full }}"
    target="_blank"
    rel="noopener noreferrer"
    class="repo-name"
    aria-label="GitHub repository {{ repo_name }}"
  >
    {{ repo_name }}
  </a>

  {% if repo_description %}
    <div class="repo-description">
      {{ repo_description }}
    </div>
  {% endif %}
</div>
