{% comment %}
  repo.liquid
  - String: "owner/repo"
  - OR Object: { name: "owner/repo", description: "..." }
  Output: repo_name: description (single clean line)
{% endcomment %}

{% if include.repository.name %}
  {% assign repo_full = include.repository.name %}
  {% assign repo_description = include.repository.description %}
{% else %}
  {% assign repo_full = include.repository %}
  {% assign repo_description = nil %}
{% endif %}

{% assign repo_url = repo_full | split: '/' %}
{% assign repo_name = repo_url[1] %}

<div class="repo-line">
  <a class="repo-link"
     href="https://github.com/{{ repo_full }}"
     target="_blank"
     rel="noopener noreferrer">
    {{ repo_name }}
  </a>
  {% if repo_description %}
    <span class="repo-sep">:</span>
    <span class="repo-desc">{{ repo_description }}</span>
  {% endif %}
</div>
